body{
	margin-left: 0px;

}
#header{
	float: left;

	height: 75px;
	background:#001157;
	position: fixed;
	z-index: 2;
	margin-top: -1%;
}
#header .logo{
	float: left;
	height: 30px;
	width: 5%;
	margin-top: 25px;
}
#header .menu{
	float: left;
	height: 100%;
	width: 60%;
	margin-left:380px;
	color: white;
}
#header .menu a{
	padding-top: 25px;
	color: white;
	font-size: 13px;
	margin-left: 10px;
}
#header .menu  .nextpage{
	margin-top: 13px;
	width: 120px;
	height: 30px;
	background: green;
}
#header .menu  .nextpage p{
	margin-top: 5px;
	font-size: 13px;
}
#page-selector{
	position: relative;
	width: 100%;
	height: auto;
}	
#page-selector{
	position: relative;
	width: auto;
	height: auto;
}
#page-selector .selector{
	position: relative;
	height: 700px;
	background-image: url(Hinhanh/backgroundbody.png);
}
#page-selector .selector .text{
	float: left;
	position: absolute;
	top: 35%;
	left: 23%;
	width: 55%;
	height: 20%;
}
#page-selector .selector .image{
	z-index: 1;
	position: relative;
	margin-left: 13%;
	top: 60%;
}
#page-body{
	position: relative;
	float: left;
	height: 892px;
	background: white;
}
#page-body .text{
	float: left;
	width: 55%;
	height: 10%;
	position: absolute;
	left: 23%;
	top: 40%;
}
#page-body  .content{
	position: relative;
	top: 60%;
	width: 100%;
	height: 32%;
	
}
#page-body  .content .row{
	width: 100%;
	height: 100%;
}
#page-body  .content .row .item{
	margin-top: 5%;
	border-radius: 3%;
	height: 280px;	
	background: #f0f0f0;
	transition: 1s;
	overflow: auto;
}
#page-body  .content .row .item p{
	overflow: hidden;
    text-overflow: ellipsis;
    line-height: 20px;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
#page-body  .content .row .item p:hover{
	overflow: visible;
	

}
#page-body  .content .row .item i{
	margin-left: 47%;
	font-size: 30px;
}
#page-body  .content .row .item:hover{

	  background-color: coral;
	  transform: scale(1.1);
	  color: white;
}
#powerful{
	float: left;
	height: 707px;
	background: #ededed;
}
#powerful .text{
	float: left;
	width: 55%;
	height: 12%;
	position: relative;
	left: 23%;
	top: 10%;
}
#powerful  .content{
	height: 100%;
}
#powerful .chart{
	position: relative;
	float:left;
	top: 28%;
	width: 100%;
	height: 320px;
}
#powerful .chart .row{
	width: 100%;
	height: 100%;
	margin: 0 auto;
}
#powerful .chart .row .left{
	width: 100%;
	height: 100%;
}
#powerful .chart .row .left .title{
	width: 70%;
}
#powerful .chart .row .left  .button{
	height: 44px;
	width: 33%;
	border-radius: 0;
	font-weight: bold;
}
#powerful .chart .row .right{
	width: 100%;
	height: 100%;
}
#powerful .chart .row .right img{
	margin-top: -15px;
}
.page-features{
	width: 100%;
	float: left;
}
.page-features .features{
	position: relative;
	height: 800px;
	background: white;
}
.page-features .features .text{
	float: left;
	width: 55%;
	height: 12%;
	position: absolute;
	left: 23%;
	top: 10%;
}
.page-features .features .content{
	position: relative;
	top: 30%;
	width: 100%;
	height: 480px;
}
.page-features .features .content .row{
	position: 
	width: 100%;
	height: auto;
	margin: 0 auto;
}

.page-features .features .content .row .item{
	margin-top: 40px;
	width: 100%;
	height: 130px;
}
.page-features .features .content .row .item .left{
	width: 10%;
	float: left;
}
.page-features .features .content .row .item .right{
	width: 90%;
	height: 100%;	
	float: left;
	font-size: 14px;
}
.page-features .features .content .row .item:hover{
	transition: 0.5s;
}
.page-features .features .content .row .item:hover .left{
	transition: 1.5s;
	margin-left: 40%;
	transform: rotate(360deg);
}
.page-overview{
	position: relative;
	float: left;
	margin:0 auto;
	width: 100%;
	height: auto;
	background: #3898ff;
}
.page-overview .impressed{
	width: 100;
	height: 390px;
}
.page-overview .impressed .text{
	float: left;
	width: 55%;
	height: 12%;
	position: absolute;
	left: 23%;
	top: 8%;
}
.page-overview .impressed a{
	position: relative;
	top: 71%;
	left: 38%;
	width: 225px;
	height: 45px;
	background: #91ff00;
}
.page-overview .impressed a:hover{
	background: none;
	border: 1px solid white;
}
.page-overview .watch{
	width: 100%;
	height: 960px;
	background: white;
}
.page-overview .watch .row{
	width: 100%;
	height: 50%;
	margin: 0 auto;
}
.page-overview .watch .text {
	width: 100%;
	height: 100%;
}
.page-overview .watch .text  .title{
	float: left;
	width: 60%;
	height: 50%;
}
.page-overview .watch .text  .body{
	width: 100%;
	height: 50%;
	float: left;
	font-size: 16px;
}
.page-overview .watch .video {
	float: left;
	width: 100%;
	height: 100%;
}
.page-overview .watch .video iframe{
	margin: 0 auto;
	width: 104.6%;
	height: 100%;
	margin-left: -2.3%;	
}
.page-overview .watch .image{
	float: left;
	width: 100%;
	height: 100%;
}
.page-overview .watch .image img{
	width: 100%;
	height: 100%;
	margin-left: -16px;
}

.page-overview .watch .text-B{
	position: relative;
	left: -2.5%;
	width: 100%;
	height: 100%;
}
.page-price{
	float: left;
	position: relative;
	width: 100%;
	height: auto;
}
.page-price .price{
	width: 100%;
	height: 900px;
}
.page-price .price .text{
	width: 55%;
	height: 12%;
	position: relative;
	left: 23%;
	top: 9%;
}
.page-price .price .content{
	position: relative;
	top: 15%;
	height: 510px;
}
.page-price .price .content .row{
	position: relative;
	margin: 0 auto;
	width: 100%;
	height: 100%;
}
.page-price .price .content .row .item{
	width: 95%;
	height: 100%;
	position: relative;
	border: 0.7px solid #cccccc;
}
.page-price .price .content .row .item .header{
	border-bottom: 0.7px solid #cccccc;
	background: #e0e0e0;
	float: left;
	width: 100%;
	height: 15%;
	padding-top: 25px;
}
.page-price .price .content .row .item .body{
	float: left;
	width: 100%;
	height: 85%;
	font-size: 14px;
	text-align: center;
}
.page-price .price .content .row .item .footer{
	position: absolute;
	top: 55%;
	left: 9%;
	width: 82%;
	height: 39%;
	background: #e0e0e0;
}
.page-price .price .content .row .item:hover .footer{
	background: #0fb7ff;
}
.page-price .price .content .row .item:hover a{
	background: green;
}
.page-price .price .content .row .item .footer .left{
	float: left;
	width: 60%;
	height: 50%;
}
.page-price .price .content .row .item .footer .right{
	margin-left: 10px;
	padding-top: 5px;
	float: left;
	width: 15%;
	height: 50%;
	font-size: 13px;
}
.page-price .price .content .row .item .footer p{
	padding-top: 50px;
}
.page-price .price .content .row .item .footer a{
	float: left;
	position: relative;
	margin-top: 20px;
	left: 20%;
	width: 	160px;
	height: 42px;
}
.page-review{
	float: left;
	height: 600px;
}
.page-review .review{
	width: 100%;
	height: 100%;
}
.page-review .review .text{
	width: 55%;
	height: 12%;
	position: relative;
	left: 23%;
	top: 9%;
}
.page-review .review .content{
	position: relative;
	top: 32%;
	width: 100%;
	height: 32%;
}
.page-review .review .content .row{
	width: 100%;
	height: 100%;
}
.page-review .review .content .row .item{
	width: 100%;
	height: 100%;
}
.page-review .review .content .row .item .top{
	width: 100%;
	height: 50%;
}
.page-review .review .content .row .item .top .left{
	float: left;
	position: relative;
	top: 20%;
	left: 5%;	
	width: 8%;
	height: 40%;
	border-radius: 50%;
}
.page-review .review .content .row .item .top .left img{
	border-radius: 50%;
}
.page-review .review .content .row .item .top .right{
	padding-top: 3%;
	position: relative;
	left: 13%;
	top: 0;
	width: 78%;
	float: left;
}
.page-review .review .content .row .item .top .right p{
	font-size: 15px;
}
.page-review .review .content .row .item .bot{
	margin-left: 20%;
	width: 70%;
	height: 50%;
	padding-top: 15px;
}
.page-review .review .content .row .item .bot p{
	font-size: 20px;
}
.page-laternews{
	float: left;
	height: 880px;
}
.page-laternews .laternews{
	width: 100%;
	height: 100%;
}
.page-laternews .laternews .text{
	width: 55%;
	height: 12%;
	position: relative;
	left: 23%;
	top: 9%;
}
.page-laternews .laternews  .content{
	margin-top: 10%;
	width: 100%;
	height: 550px;
}
.page-laternews .laternews  .content .row{
	position: relative;
	margin:0 auto;
	width: 100%;
	height: 100%;
}
.page-laternews .laternews  .content .row .item{
	width: 100%;
	height: 100%;
	border-radius: 3%;
}
.page-laternews .laternews  .content .row .item .image{
	width: 100%;
	height: 60%;
	border-radius: 3%;
}
.page-laternews .laternews  .content .row .item .image img{
	border-radius: 3%;
}
.page-laternews .laternews  .content .row .item .image .hover{
	position: relative;
	margin-top: -67%;
	border-radius: 3%;
	width: 100%;
	height: 107%;
	opacity: 0;
	background: blue;
}
.page-laternews .laternews  .content .row .item .image .hover-text{
	
	margin-top: -40%;
	opacity: 0;

}
.page-laternews .laternews  .content .row .item:hover .hover{
	
	opacity: 0.4;
	transition: 0.4s;
}
.page-laternews .laternews  .content .row .item:hover .hover-text{
	opacity: 1;
	transition: 1s;
}
.page-laternews .laternews  .content .row .item .body{
	width: 100%;
	height: 40%;
}
.page-laternews .laternews  .content .row .item  .body .btn{
	border-radius: 0px;
	height: 25px;
	width: 75px;
	 margin-top: 30px;
}
.page-laternews .laternews  .content .row .item  .body .btn p{
	margin-top: -13px;
	  
}
.page-laternews .laternews  .content .row .item  .body p{
	  padding-top: 5px;
}
.page-footer{
	height: auto;
	width: auto;
	float: left;
	background: #04091e;
}
.page-footer .footer{
	position: relative;
	width: 100%;
	height: auto;
}
.page-footer .footer .row{
	margin:0 auto;
	width: 100%;
	height: 390px;
}
.page-footer .footer .row .item{
	position:relative;
	top: 25%;
	width: 100%;
	height: 60%;
}
.page-footer .footer .row .item p{
	font-size: 15px;
}
.page-footer .footer .row .item input{
	height: 40px;
}
.page-footer .footer .row .item .btn{
	position: relative;
	left: -10.3%;
	margin-top: -1%;
	height: 40px;
	width: 40px;
	background: #03f0fc;
	border-radius: 0;
}
.page-footer .footer .row .item .icon{
	width: 90%;
	height: 40px;
	color: white;
}
.page-footer .footer .row .item .icon i{
	margin-right: 5%;
}
@media screen and (max-width: 1140px){

	#page-selector .selector .image{
		margin-left: 3%;
	}	
	#powerful .chart .row .left  .button{
		width: 44%;
	}
	.page-price .price .content .row .item .footer .button{
		margin-left: -20px;
	}

	.page-laternews{
			height: auto;
	}
	.page-laternews .text{
		margin-top: 3%;
	}
}
@media screen and (max-width: 990px){
	
	#powerful .chart .row .right img{
		height: 80%;
		width: 120%;
			
	}
	#powerful .chart .row .left  .button{
		width: 56%;
	}
	.page-overview .impressed a{
		margin-top: 30px;
		margin-left: -20px;
	}
	.page-price{
		float: left;
		position: relative;
		width: 100%;
		height: auto;
	}
	.page-price .price .content{	
		width: 105%;
		height: 60%;
	}
	.page-price .price .content .row .item .footer a{
		width: 100%;
		margin-left: 14%;
	}
	.page-laternews .laternews  .content .row .item{
		height: 330px;
	}
	.page-laternews .laternews  .content .row .item .hover-text{
		margin-left: -13%;
	}
	
}
@media screen and (max-width: 767px){
	#page-selector .selector .image img{
		margin-top: 5%;
		margin-left: -2%;
	}
	#page-body{
		position: relative;
		height: 1300px;
	}
	#page-body .text{
		position: absolute;
		top: 14%;
	}
	#page-body .content{
		margin:0 auto;
		position: relative;
		left: 2%;
		top: 26%;
	}
	#powerful{

		height: 1200px;
	}
	#powerful .text{
		margin-top: -10%;
	}
	#powerful .chart .row .left{
		margin-top: -12%;
	}
	#powerful .chart .row .right{
		width: 100%;
		height: 100%;
	}
	#powerful .chart .row .right img{
		width: 100%;
		height: 100%;
	}
	.page-features{
		height: 1400px;

	}
	.page-overview{
		height: 2100px;	
		background: white;
		
	}
	.page-overview .impressed{
		width: 100%;
		background: blue;
	}
	.page-overview .impressed .text{
		margin-top: -15%;
	}
	.page-overview .impressed .btn{
		margin:0 auto;
		margin-top: 2%;
		margin-left: -2%;
	}
	.page-overview .row{
		
		margin:0 auto;
	}
	.page-overview   .video{
		margin-top: -10%;
		width: 100%;
		height: 100%;
	}
	.page-overview  .video iframe{
		height: 200px;
	}
	.page-overview .image{
		margin-top: 54.2%;
	}
	.page-overview .image img{
		width: 200px;
	}
	.page-overview .text-B{
		
		margin-left: 2%;
		width: 100%;
	}
	.page-price{
		height: 1750px;
	}
	.page-price .price{
		position: relative;
		height: 1400px;
		margin: 0 auto;
	}
	.page-price .price .col-md-4{
		margin-top: 20px;
		height: 400px;
	}

	.page-price .price .content .row .item .footer{
		margin-top: 5%;
		width: 53%;
		height: 35%;
		margin-left: 15%;
	}
	.page-price .price .content .row .item .footer .left{
		margin-top: -18%;
	}
	.page-price .price .content .row .item .footer .right{
		margin-top: -18%;
	}
	.page-price .price .content .row .item .footer .btn{
		margin-top: 15%;
		margin-left: 10%;
	}
	.page-review{
		height: 100%;
	}
	.page-laternews{
		height: 1500px;
	}
	.page-laternews .laternews .text{ 
		position: relative;
		top:2%;
	}
	.page-laternews .laternews  .content{
		margin-top: 20%;
	}
	.page-laternews .laternews  .content .row .item{
		margin-top: 5%;
		height: 503px;
		background: white;s
	}
	.page-footer{

	}
	.page-footer .footer .row .item .btn{
		margin-top: -30%;
   		 margin-left: 92%;
	}
	.page-footer .footer .row .item p{
		
	}

}
@media screen and (max-width: 660px){
	.page-overview .impressed .btn{
		margin-top: 7%;
		margin-left: -5%;
	}
	.page-price{
		width: 80%;
	}
}
@media screen and (max-width: 575px){
	#page-selector{
		width:0%;
	}
	#page-selector .selector .image img{
		margin-top: 20%;
		margin-left: 0%;
	}
	#page-body{
		width: 70%;
	}
	#page-body  .content{
		margin:0 auto;
		height: auto;
		width: 92%;
	}
	#powerful .chart .row .right{
		margin-top: 10%;
	}
	.page-overview .impressed{
		width: 100;
		height: 450px;
	}
	.page-overview .impressed .text{
		margin-top:-27%;	
	}
	.page-overview .impressed .btn{
		margin-left: -10%;
	}
	.page-price{
		width: 93%;	
	}
	.page-price .price .content{
		width: 100%;	
	}
	.page-price .price .content .row .item{
		margin-left: 2%;
	}
	.page-footer .footer .row .item .btn{
		margin-top: -35%;
	}
}
@media screen and (max-width: 410px){
	.page-overview .impressed{
		height: 500px;
		background: red;
	}
	.page-overview .impressed a{
		margin-top: 20%;
		margin-left: -14%;
	}
}